.image-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
	grid-gap: 0.25px 10px; /* vertical horizontal */
	grid-auto-rows: 10px;
	grid-auto-columns: 10px;
}

.image-list img {
	width: 250px;
	grid-row-end: span 2;
}
